html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    background-color: rgb(240, 217, 16);
}

header {
    margin: 0 auto;
    width: 750px;
    text-align: center;
}

a {
    color: #f13abac7 !important;
    font-weight: 700;
}